@charset "UTF-8";
/* CSS Document */

html, body {
  margin: 0px;
}

.clear {
  clear: both;
}

#wrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
}


/*---------- HEADER ----------*/

header {
  height: 300px;
  width: 100%;
  background: #777;
}


/*---------- CONTENT AREA ----------*/

.col-3 {
  width: 100%;
  height: 320px;
  float: left;
}

#column-1 {
  background: #324345;
}

#column-2 {
  background: #FF9F43;
}

#column-3 {
  background: #FFD818;
}


/*---------- FOOTER ----------*/

footer {
  width: 100%;
  height: 30px;
  background: #e3e3e3;
}


/*---------- TABLET ----------*/
/* Change the background colors below */

@media (min-width: 768px) {
  header {
    background-color: #FFD818;
  }

  #column-1 {
    background-color: #181818;
  }

  #column-2 {
    background-color: #eee;
  }

  #column-3 {
    background-color: #eee;
  }

  footer {
    background-color: #5934;
  }
  
}


/*---------- Desktops ----------*/
@media (min-width: 1200px) {
  header {
    background-color: #324345;
  }

  #column-1 {
    background-color: #FEAc73;
  }

  #column-2 {
    background-color: #0F4B7E;
  }

  #column-3 {
    background-color: #FEAc73;
  }

  footer {
    background-color: #181818;
  }
   
}
